@import url(normalize.css);
@import url(http://weloveiconfonts.com/api/?family=fontawesome);
/*=============================
	Fonts
===============================*/
@font-face {
  font-family: 'novecento_widemedium';
  src: url("../fonts/novecentowide-medium-webfont.eot");
  src: url("../fonts/novecentowide-medium-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/novecentowide-medium-webfont.woff") format("woff"), url("../fonts/novecentowide-medium-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'novecento_widenormal';
  src: url("../fonts/novecentowide-normal-webfont.eot");
  src: url("../fonts/novecentowide-normal-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/novecentowide-normal-webfont.woff") format("woff"), url("../fonts/novecentowide-normal-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

* {
  margin: 0;
  padding: 0; }

html {
  font-size: 62.5%;
  /* Causes base font size to be ~10px */
  font-family: 'Open Sans', sans-serif; }

body {
  background: #eee; }

h1,
h3 {
  margin-bottom: 20px;
  font-weight: 300;
  color: #bababa; }
  h1 > a,
  h1 a:visited,
  h3 > a,
  h3 a:visited {
    text-decoration: none; }

h3 {
  text-align: center;
  text-transform: uppercase;
  font-family: 'novecento_widenormal';
  font-size: 16px;
  font-size: 1.6rem; }

.page-header {
  width: 340px;
  padding: 30px 40px;
  margin: 0 auto;
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.wrapper {
  width: 100%; }

.content {
  width: 300px;
  padding: 20px;
  margin: 0 auto;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3); }

p {
  margin-bottom: 24px;
  font-size: 16px;
  font-size: 1.6rem;
  color: #4e4d4d;
  text-align: center; }

#canvas {
  margin: 0 auto 50px auto; }

/*=============================
	Ident
===============================*/
.block {
  width: 50px;
  height: 50px;
  float: left; }

textarea {
  width: 100%;
  padding: 15px 20px;
  background: #444;
  border: 1px solid #ccc;
  color: #fff;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 1.71429;
  font-family: monospace; }

.submit,
.reload,
#png-download {
  width: 100%;
  margin-bottom: 30px;
  line-height: 50px;
  background: #00a2a0;
  border: none;
  font-family: 'novecento_widenormal';
  font-size: 16px;
  font-size: 1.6rem;
  color: #fff;
  text-align: center;
  text-decoration: none;
  display: inline-block; }
  .submit:hover,
  .reload:hover,
  #png-download:hover {
    background: #307878; }

.reload {
  background: #e7e5e5;
  color: #00a2a0; }
  .reload:hover {
    background: #3c3b3b; }

.code {
  background: #ccc;
  border: red; }

.image-form {
  width: 100%;
  padding: 20px;
  margin-bottom: 30px;
  background: #eee;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  .image-form input {
    width: 90%;
    padding: 5%;
    margin-bottom: 5px;
    border: none;
    line-height: 30px;
    font-size: 18px;
    font-size: 1.8rem;
    text-align: center;
    box-shadow: inset 0 3px 0 rgba(0, 0, 0, 0.3); }
  .image-form #png-download {
    margin-bottom: 0; }

/*==========================
	Helper classes
============================*/
.group:before,
.group:after {
  content: " ";
  display: table; }

.group:after {
  clear: both; }

.group {
  *zoom: 1; }
